body {
    margin: 0;
  }
  
@font-face {
    font-family: "Open Sans";
    src: url(/fonts/OpenSans-Regular.woff);
    src: url(/fonts/OpenSans-Bold.woff);
  }

  .page {
    width: 100%;
    font-family: "Open Sans";
  }
  
  .header {
    background-image: url("/img/banner-bg.jpg");
    position: relative;
    min-width: 1200px;
    height: 450px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    color: #fff;
    text-transform: uppercase;
    z-index: 3;
  }
  
  .header::after {
    content: "";
    background-color: #000;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  
  .logo {
    height: 46px;
    width: 190px;
    padding-top: 29px;
    padding-left: 248px;
    position: relative;
    z-index: 3;
  }
  
  .title {
    font-size: 45px;
    font-weight: bold;
    text-align: center;
    position: relative;
    line-height: 75pt;
    margin-left: auto;
    margin-right: auto;
    z-index: 3;
    padding-top: 55px;
    width: 55%;
  }
  
  .container {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    z-index: 3;
  }
  
  .menu {
    padding-top: 45px;
    padding-right: 10%;
  }
  
  .menu-list {
    margin-top: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
  }
  
  .menu-link {
    text-decoration: none;
    list-style: none;
    font-size: 13px;
    color: inherit;
  }
  
  .menu-link:hover {
    text-decoration: underline #fff;
  }
  
  .menu-list-item:nth-child(n + 2) {
    margin-left: 33px;
  }
  
